In [11]:
import pandas as pd
import numpy as np
import json
import re
import dat
from collections import defaultdict
import stats_finder

### Instantiating goal analyze method for Arsenal

In [24]:
goal_analyze = stats_finder.goal_analyzer(dat.read_df_json('C:/Users/MeliaMuyo/Desktop/ALL/GIRAY/premiership/premier_league_analysis/'),'arsenal')

### Calculating total goals for Arsenal

In [25]:
goal_analyze.total_goals()

45

### Showing entire league team goal score chart

In [26]:
goal_analyze.team_scores()

                   team_name  goal_total
0            manchester city          53
1                    arsenal          45
2          tottenham hotspur          41
3   brighton and hove albion          38
4                  brentford          35
5           newcastle united          34
6          manchester united          34
7                  liverpool          34
8             leicester city          32
9                     fulham          32
10              leeds united          26
11               aston villa          25
12                   chelsea          22
13               bournemouth          19
14            crystal palace          19
15           west ham united          18
16         nottingham forest          17
17               southampton          17
18                   everton          16
19   wolverhampton wanderers          15

### Arsenal`s total goal percent over entire league total goal amount

In [27]:
goal_analyze.total_goal_perc()

'7.87%'

### Total shots Arsenal made during entire legue

In [28]:
goal_analyze.total_shots()

206

### Arsenal`s shot to goal accuracy from on target shots they did

In [29]:
goal_analyze.shot_accuracy()

'21.84%'

### Instantiating line up class

In [30]:
lineup_analyze = stats_finder.line_ups(dat.read_df_json('C:/Users/MeliaMuyo/Desktop/ALL/GIRAY/premiership/premier_league_analysis/'),'Arsenal','Ben White')

### Lineups for Ben Davies (spesific player used on instantiation)

In [31]:
lineup_analyze.line_up_count()

20

### Entire league top 10 lineupers

In [32]:
lineup_analyze.top_10_lineupers()

         player_name  line_ups
0         harry kane        22
1           tim ream        22
2    andreas pereira        22
3    james tarkowski        21
4  vitaliy mykolenko        21
5         alex iwobi        21
6         danny ward        21
7       david de gea        21
8         david raya        21
9     mathias jensen        21